body {
    font-family: 'Open Sans', sans-serif; ;
   
}

.container {
    display: flex;
    justify-content:space-around;
    margin-top: 70px;
}


a{
    text-decoration: none;
    font-size: 3.8rem;
    font-family: 'Open Sans', sans-serif;
    color: green;
}