<nz-layout class="layout">
    <nz-header>
      <div class="logo"></div>
      
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item [routerLink]="['']">Home</nz-breadcrumb-item>
        <nz-breadcrumb-item [routerLink]="['/users']" >Profile</nz-breadcrumb-item>
        <nz-breadcrumb-item [routerLink]="['/posts']" >Posts</nz-breadcrumb-item>
      </nz-breadcrumb>

      <div id="card" style="background: #ECECEC;padding:50px;">
        <h2>Post title</h2>
          <p>Post author</p>
          <p>Post content</p>
          <div class="button">
            <button id="edit" nz-button nzType="primary">Modifica</button>
            <button id="delete" nz-button nzType="secondary">Elimina</button>
          </div>
        </div>
        
        <ng-template #extraTemplate>
         
        </ng-template>