<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-md-0 text-dark text-decoration-none">
      <svg class="bi me-2" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
  
    <ul class="nav col-12 justify-content-center mb-md-0">
      <li><a [routerLink]="(['/pages/home'])" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a [routerLink]="(['/assistenza'])" class="nav-link px-2 link-dark">Assistenza</a></li>
      <li><a [routerLink]="(['/overview'])" class="nav-link px-2 link-dark">Overview</a></li>
    </ul>
  
  </header> 
<img src="../../../assets/Centro_Storico_Roma_Mappa.jpg" alt="" >




<div id="contenitore">
  <div class="container">
    <div class="row">
     
    <div class="col-3" id="contenuto1">
      <h1>Sicurezza:</h1>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa maiores, saepe harum commodi velit eum magnam consectetur veritatis cumque reprehenderit non, eligendi consequuntur distinctio enim nulla libero aperiam. Qui, illum!
  </div>
  <div class="col-1"></div>
  

  <div class="col-4"  id="contenuto2">
    <h1>Monitoraggio:</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa maiores, saepe harum commodi velit eum magnam consectetur veritatis cumque reprehenderit non, eligendi consequuntur distinctio enim nulla libero aperiam. Qui, illum!
  </div>
  
  <div class="col-1"></div>
  <div class="col-3"  id="contenuto3">
    <h1>Contatti:</h1>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa maiores, saepe harum commodi velit eum magnam consectetur veritatis cumque reprehenderit non, eligendi consequuntur distinctio enim nulla libero aperiam. Qui, illum!
  </div>
  
</div>
</div>
</div>
