<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/vino.jpg" alt="Random first slide" width="100%" height="500px" />
		</div>
		<div class="carousel-caption">
			
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/chiavi.jpg" alt="Random second slide" width="100%" height="500px" />
		</div>
		<div class="carousel-caption">

		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../../assets/Monopattini-elettrici-a-Milano-1024x630.jpeg" alt="Random third slide" width="100%" height="500px"/>
		</div>
		<div class="carousel-caption">
			
		</div>
	</ng-template>
</ngb-carousel>



