body{

    padding-top: 2em;
    font-size: 1em;
    padding-left: 2em;
    
}

#bottoni{
    display: flex;
    padding-top: 2em ;
    padding-bottom: 2em;
    margin-left: 130px;
   
    

}

#risultato{

    margin-left: 60px;
}


section{

    background-color:aquamarine;
    width: 45%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border: 0.5em solid black;

}


#elementi{

    margin-left: 60px;

}