p {
    text-align: center;
    color: green;
    font-size: 2rem;
    margin-top: 200px auto;
    font-family: 'Open Sans', sans-serif;
}

#loading {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 20px;
    background-color: green;
    color: aliceblue;
    width: 80px;
    
}