


#testimonials {

        @include background;
   
}

.carousel-item {

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 2.5rem;
}

@media screen and (max-width: 1000px) {
    .carousel-item {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 500px) {
    .carousel-item {
        font-size: 0.8rem;
    }
}

#carouselExampleCaptions img{

    max-width:100%;
    
}
