.logo {
    width: 15%;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  

  nz-breadcrumb {
    margin: 36px 0;
    cursor: pointer;
    font-size: 1.7rem;
  }


  nz-content {
    padding: 0 50px;
  }

  nz-footer {
    text-align: center;
  }

  .inner-content {
    background: #fff;
    padding: 24px;
    min-height: 580px;

  }

  h1{
    text-align: center;
    margin-top: 5rem;
    font-size: 4rem;
  }

  #news {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
  }

  [nz-button] {
    margin-right: 12px;
    
    
  }

  .button {
    margin-top: 3rem;
    text-align: center;
    
    
  }
  
  #twobuttons {
   margin: 5rem auto;
   text-align: center;
   padding: 3rem;
  }

  #edit, #delete {
    background-color:#001529 ;
   color: white;
   padding: 0.7rem;
   cursor: pointer;
  }