
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg class="bi me-2" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
  </a>

  <ul class="nav col-12 justify-content-center mb-md-0">
    <li><a [routerLink]="(['/pages/home'])" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a [routerLink]="(['/assistenza'])" class="nav-link px-2 link-dark">Assistenza</a></li>
    <li><a [routerLink]="(['/overview'])" class="nav-link px-2 link-dark">Overview</a></li>
  </ul>

</header> 
<div id="quadrato">
    <h1>Bevuto troppo? Chiedi un passaggio</h1>
        <form [formGroup]="form">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Inserisci punto di partenza</label>
              <input class="form-control" ngx-google-places-autocomplete [options]='options'
              #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" id="puntoParetenza" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Localizza la tua posizione</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Inserisci punto di arrivo</label>
              <input class="form-control" ngx-google-places-autocomplete [options]='options'
              #placesRef="ngx-places" (onAddressChange)="handleAddressChange2($event)" formControlName="text" type="text" id="puntoArrivo">
            </div>
           
            <button (click)="driverSee()" (click)="distanceMatrix()" id="button" type="submit" class="btn btn-primary">Cerca</button>
          </form>

          <div *ngIf="drivers" class="mt-5 mb-3">
            <p (click)="stripeSee()">Mario è disposto ad accompagnarti a casa: 8 euro</p>
            <p>Sara è disposta ad accompagnarti a casa: 8 euro</p>
            <p>Luigi è disposto ad accompagnarti a casa: 8 euro</p>
          </div>

          
          
          <div *ngIf="payment" id="pagamento">
         <app-payment-components></app-payment-components>
        </div>
       

    <div></div>
    <div></div>
    <div></div>
</div>




<div id="map"></div>



