 
 body {
    background-image: url(../asset/background-wooden-tree.jpg);
    background-size: cover; 
    max-width: 100%;
   max-height: 100%;
    background-position: center;
    font-family: 'Open Sans', sans-serif !important;
    
 }
 
 header{
    margin-left: 200px;
    margin-top: 100px;
    color: green;
    margin-bottom: 100px;
    text-shadow: 5px 5px 5px white;
}



h1 {
    font-size: 13rem !important;
}

.form-control {
    margin-top: 150px;
    font-size: 2rem !important;

    background-image: url(../asset/background-wooden-tree.jpg);

}

input {
    border: 5px solid green !important;
    color: green !important;
    font-weight: bold !important;
   
    
    
}






button {
    
    font-size: 2rem !important;
    background-color: green !important;
    border: none !important;
    margin-bottom: 100px !important;
}

div {
    text-align: center;
    font-size: 2rem;
  
    
    font-size: 2rem;
    font-weight: bold;
    color: green;
   
}

.alert.alert-success {

    color: green !important;
}

#commento {
    margin-top: 0 !important;
    margin-bottom: 100px!important;
}

#lista {
    
    margin-left: 750px !important;
    margin-right: 750px !important;
    margin-bottom: 100px !important;
    cursor: pointer !important;
    
    
    
}

